.numbers{
    display: flex;
    justify-content: space-evenly;
   
}
.btn{
 
    display: flex;
    justify-content: space-evenly;
}
.active{
    border-style: solid;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: yellow;
}