.forgot-main-image{
    height: 98vh;
    top: 3vh;
    width: 75vw;
   left: 5%;
    position: relative;
    /* left: 20%; */
}
.fp-card{
    position: absolute;
}
.np-input{
margin:10px;
padding-left: 10px;
height: 7vh;
width: 16vw;
border-radius: 10px;
background-color: #faecec;
border: none;
}
.cp-input{
    margin:10px;
    padding-left: 10px;
    height: 7vh;
    width: 16vw;
    border-radius: 10px;
    background-color: #f5e8e8;
    border: none;
}
.pwd-btn{
    margin:10px;
    padding-left: 10px;
    height: 7vh;
    width: 16vw;
    border-radius: 10px;
    background-color:#ff7f50 ;
    border: none;
    cursor: pointer;
}
.fp-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 42%;
    left: 41%;
}
.forgot-pwd-page{
    /* height: 100vh; */
}